.bg {
    background-color: #EBF1F0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 0.6rem;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.inputLabel {
    margin-top: 0.5rem;
}

.input {
    width: 17rem;
    height: 2.125rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 0.5px solid rgb(118, 118, 118);
    background: #FFFDFD;
    font-size: 16px;
}

.btnCadastro {
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #F29311;
    border: 2px solid #FF9F1C;
    color: white;
    font-weight: 600;
    margin-top: 1.2rem;
}