.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo {
    background-color: coral;
    width: 85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    color: #045d53;
    font-size: 32px;
}

.acoes {
    height: 2rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.botao_adicionar_receita {
    width: 11rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
}

.buscar {
    height: 100%;
    background-color: #fff;
    width: 40rem;
    border-radius: 50px;
    border: 1px solid #9c9c9c;
}