.width_noventa_e_tres_porcento{
    width: 93.4%;
}

.btnEditarEndereco{
    width: 27%;
}

.combobox_horario_entrega{
    border-radius: 0.5rem;
    border: 0.2px solid rgb(118, 118, 118);
    background: #f4f4f4;
    cursor: pointer;
}